<!DOCTYPE html>
<html>
<head>
	<title>ShoppingList</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<header>
		<h1>ShoppingList</h1>
	</header>
    <div class="center">
        <p class="center-text">Make shopping easier!</p>
		<a class="button" href="/register">Register</a>
        <p class="center-text">Already have an account?</p>
        <a class="button" href="/login">Login</a>
        <img class="image" src="/static/image.jpg" alt="Logo">
	</div>
</body>
</html>
