<!DOCTYPE html>
<html>
<head>
	<title>ShoppingList</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<header>
		<h1>ShoppingList</h1>
	</header>
    <div class="center">
        <p class="center-text">Congratulations! The list "{{.ListName}}" has been successfully created</p>
		<a class="button" href="/view-lists">View lists</a>
		<img class="image" src="/static/image.jpg" alt="Logo">
        <p>Go back to <a href="/login-success">Main Page</a></p>
	</div>
</body>
</html>